body {
    background-color: #c0effc;
    /*background-image: url("../assets/background.png");*/
    background-repeat: no-repeat;
    font-size: large;
}
header {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1% 0;
}
.headItem {
    height: 70px;
}
#searchbar {
    width: 30%;
    margin-top: 50px;
    border-radius: 25% 25% 50% 30%;
}

#logo {
    width: calc(40% - 25px);
    padding-top: 12px;
}
#logo img{
    height: calc(80px - 15px);
}
#shoppingcartIcon{
    width: 30%;
    float: right;
    padding: 1% 0%;
}

#shoppingcartIcon a{
    margin: 10px auto;
    padding: 0.1% 6%;
    width: 21%;
    border: #d669bb groove 2px;
    border-radius: 25% 10%;
}
#shoppingcartIcon a:hover{
    background-color: #e47bcaec;
}
#shoppingcartIcon img{
    width: 100%;
}

nav {
    height: 50px;
    margin: 5% 0 0 0;
}
nav ul li {
    list-style-type: none;
    float: left;
    width: 19%;
    margin: 0px 5px;
    text-align: center;
}
nav ul li a {
    padding: 10px 35%;
    text-decoration: none;
    color: black;
}
nav ul li a:hover, a.active {
    border-top: #d669bb solid 2px;
    border-bottom: #d669bb solid 2px;
    color: black;
}
 a.active {
    border-top: #d669bb dashed 2px;
    border-bottom: #d669bb dashed 2px;
    color: black;
}
.promoBanner {
    height:470px;
    width: 100%;
}
.promoBanner img {
    width: 100%;
}
.content {
    width: 60%;
    margin: 2% auto 50px auto;
}
footer {
    position: fixed; 
    padding-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #db7c9c;
    color: white;
    text-align: center;
}

/* START INDEX PAGE */
#uitgelicht {
    display: grid;
    width: 100%;
    margin: 20px auto;
    color: #d669bb;
    /*border-bottom: underline #d669bb 5px;*/
    text-align: center;
    align-items: center;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    grid-gap: 15px;
    font-weight: 600;
    font-size: 2.5em;
}

#uitgelicht:before,
#uitgelicht:after {
    content: ' ';
    border-top: 2px dashed #d669bb;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
}
.categoryItem {
    width: 23%;
    margin: 1%;
    padding: 0px;
    height: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    border:#d669bb dotted 3px;
    background-color: white;
    border-radius: 10%;
}
.categoryDescription {
    width: 70%;
    margin: 40% 10%;
    line-height: 20px;
    display: inline-block;
    padding: 10px 5px;
    vertical-align: middle;
}
.categoryPicture:hover {
    opacity: 0.3;
    transition:opacity 1s;
}
.categoryPicture {
    max-width: 100%;
    position: absolute;
}
#signup{
    width: 60%;
    margin: auto;
}
#signup h2 {
    width: 80%;
    margin: 15px auto;
    text-align: center;
}
.subscrintion-form input[type=email]  {
    width: 100%;
}
.subscrintion-form button[type=submit]  {
    background-color: #d669bb;
    border: none;
    color: white;
    width: 50%;
    margin: 20px 25%;
    padding: 1% 5%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2%;
    font-size: 0.9em;
}
/* END INDEX PAGE */
/* START ABOUT US PAGE */
h4, .aboutUsInfo p {
    text-align: center;
}
.flex-portret {
    width: 20%;
    margin: 1%;
    padding: 0px;
    height: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    border:#d669bb dotted 3px;
    background-color: white;
    border-radius: 10%;
}
.portretName {
    width: 70%;
    margin: 40% 10%;
    line-height: 20px;
    display: inline-block;
    padding: 10px 5px;
    vertical-align: middle;
}
.portret:hover {
    opacity: 0.3;
    transition:opacity 1s;
}
.portret {
    max-width: 100%;
    position: absolute;
}
/* END ABOUT US PAGE */

/****** Begin Popup Style ******/

#loginTitle {
    text-align: center;
    color: #d669bb;
    font-family: Tahoma, Arial, sans-serif;
    margin-top: 0;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #d669bb;
}
.popup .content {
    overflow: hidden;
    width: 70%;
    margin: 5% auto 30px auto;
}

/*Login*/

.form-control {
    margin: 1em 0;
}
.form-control:focus {
    box-shadow: none;
    width: 100%;
    border-color: #d669bb;
    transition: border-width 1s;
}

.username, .password {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #eee;
    padding-left: 0;
    font-weight: normal;
}

.login {
    padding: 6px 20px;
    border-radius: 20px;
    background: none;
    border: 2px solid #d669bb;
    color: #d669bb;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
}
.login:hover {
    background: #d669bb;
    color: #fff;
}

/*End Login*/

/****** Einde popup Style ******/

/***** Begin PopUp Cart *****/

.PopupCart h3 {
    text-align: center;
}

.PopupCart {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.PopupCart a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    /*transition: 0.3s;*/
}

.PopupCart a:hover {
    color: #d669bb;
}

.PopupCart .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
}

@media screen and (max-height: 450px) {
    .PopupCart {padding-top: 15px;}
    .PopupCart a {font-size: 18px;}
}

/***** Einde PopUp Cart *****/